.note-card-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.note-card-container .note-info {
    display: flex;
    font-size: 20px;
}

.note-info p {
    justify-self: center;
}

.note-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 200px;
    box-shadow: 0 0 12px 0 rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    margin: 5px 8px;
}

.note-card .note-card-action {
    display: flex;
    column-gap: 10px;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 10px;
}

.note-card .note-card-body {
    margin-top: 10px;
}

.note-card .note-card-action #btn-delete-note, #btn-archived-note {
    min-height: 35px;
    padding: 15px;
    background: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.note-card-action #btn-delete-note {
    border: 2px solid #de4b4b;
}


.note-card-action #btn-archived-note {
    border: 2px solid #1eaf0c;
}

.note-card-action #btn-delete-note:hover  {
    background: #de4b4b;
    color: white;
}

.note-card-action #btn-archived-note:hover  {
    background: #1eaf0c;
    color: white;
}

.note-card .note-card-date {
    margin: 10px;
    align-self: end;
}