.note-header {
    display: flex;
    padding: 15px;
}

.note-header .note-header-title {
    flex: 1 1;
}

.note-header-search input {
    min-height: 40px;
    padding: 8px;
    min-width: 400px;
    margin-right: 10px;
}


