.note-header {
    display: flex;
    padding: 15px;
}

.note-header .note-header-title {
    flex: 1 1;
}

.note-header-search input {
    min-height: 40px;
    min-width: 400px;
    padding: 8px;
    margin-right: 10px;
}


@media screen and (max-width: 750px) {
    .note-header {
        display: block;
    }

    .note-header-search input {
        margin-top: 20px;
        min-width: 0;
        width: 100%;
    }
}
