.note-input {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto 40px;
}

.note-input .input-title, .input-body {
    margin-bottom: 20px;
}

.note-input .input-title input, .input-body textarea, .note-input button {
    width: 100%;
    font-size: 17px;
}

.input-title-label, .input-body-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-title-remaining {
  text-align: end;
}

.input-title input {
    min-height: 40px;
    padding: 8px;
}

.input-body textarea {
    min-height: 175px;
    padding: 8px;
}

.note-input button {
    min-height: 40px;
    background: white;
    border: 2px solid #4330e0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.note-input button:hover {
    background: #4330e0;
    color: white;
}